# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Backup files
*.bak
*.swp
